<div class="bg-footer">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12">
        <a href="https://twitter.com/nestorsalceda"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/nestorsalceda"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/nestorsalceda"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="bg-footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="copyright">2014 &copy; Néstor Salceda</p>
      </div>
      <div class="col-sm-6">
        <ul class="list-inline pull-right">
          <li class="border-right"><a href="#home" data-scroll>Top</a></li>
          <li class="border-right"><a href="/blog" data-scroll>Blog</a></li>
          <li><a href="/" data-scroll>Sobre mí</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
