<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/jquery.magnific-popup.min.js"></script>
<script src="{{ "/js/smooth-scroll.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jRespond.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/script.js" | prepend: site.baseurl }}"></script>
